<h2>Main page!</h2>
<form action="<%=action_for :security, :logout%>" method="post" enctype="application/x-www-form-urlencoded" class="">
  <div class="">
    <button class="">Logout</button>
  </div>
</form>
